
.intro h1,p {
    color: azure;
}

.intro {
    padding: 10px;

    background-image: url("../images/hero-workshop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.top_section{
    padding: 10px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.top_section input{
    width: 500px;
    height: 50px;
    border-style: none;
    border-radius: 15px;
}

.row{
    padding: 10px;
    width: 100%; 
    height: 100%;   

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1% .5%;
    
}
.card{
    background-color: aquamarine;
    width: 250px;
    height: 300px;
}