

.intro {
    padding: 6px;

    background-image: url("../images/hero-workshop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    height: 79vh;
}

.intro h1,p {
    color: azure;
}