
/* All colors for website */
h1,h2,h3,h4,h5,h6,p,span,a,li {
    color: gainsboro;
    font-family: 'Orbitron', system-ui, sans-serif;
}

/* h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', system-ui, sans-serif;
} */

/* button  color: $orange-500; // #fd7e14 */
/* card    color: $gray-800; // #343a40 */
/* background-color: var(--bs-light-bg-subtle); */

body{
    background-color: rgb(98, 98, 98); 
    
    /* rgb(33, 37, 41) dark */
    margin: auto;
    
}

button{
    background-color: #fd7e14;
}
