.top_section{
    padding: 10px;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    border-bottom: 1px solid black;
}

.top_section input{
    width: 500px;
    height: 50px;
    border-style: none;
    border-radius: 15px;
}

.top_section form {
    padding: 10px;
}

.top_section button {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border-style: none;
}



.services{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 10px;
    padding: 10px;
}

.services .card{
    width: 350px;
    height: 400px;
    border-radius: 15px;
    border-style:none;
    /* border: 3px solid black; */
    overflow: hidden;
    background-color: #343a40;
}

.services .card img {
    width: 100%;
    height: 80%;
    /* border-bottom: 3px solid black; */
}

/* .services .card h3, h4, h5, p{
    color: black;
} */



@media (max-width: 575px) {
    .container {
        flex-wrap: wrap;
    }
}

/* .top_section button:hover {
    background-color: ;
} */

/* .top_section service-categories {
    
} */

